<template>
  <div style="display: flex; width: 100%; height: 100%; margin: 1rem; flex-wrap"> <!-- flex-wrap (supaya klo misalkan ke kanan ga cukup dia otomatis ke bawah) ini adalah container -->
    <CourseCard v-for="i in 10" :key="i"/>
  </div>
</template>

<script>
import CourseCard from '../components/CourseCard.vue'
import image from "../assets/gb-1.jpg";
export default {
  name: "index",
  components: {
    CourseCard
  },
  props: {
    courses: [1,2,3,4,5,6,7,8,9,10],
    msg: String,
  },
  data: function () {
    return {
      image: image,
    };
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
