<template>
  <div class="w-full bg-white rounded-2xl shadow-md my-5 m-auto" style="width: 360px; height: 494px">
    <div class="w-full overflow-hidden" id="pict">
      <!-- <img alt="Gambar" src="./assets/gb-1.jpg" /> -->
      <img class="object-cover min-h-100 w-full" src="../assets/gb-1.jpg" alt="" />
    </div>
    <div class="flex flex-col justify-around m-5">
      <div id="content" class="px-[25px] py-[19px]" style="padding: 0.5rem">
        <h1 class="font-bold text-blue-900 text-2xl">Bahasa Indonesia</h1>
        <p class="text-gray-500">Kelas | Sekolah Dasar</p>
      </div>
      <div id="Author" class="m-4 p-2 flex items-center">
        <img src="../assets/ava.png" alt="" />
        <div class="pl-4">
          <h1 class="text-blue-900 text-xl">Cici Sang Putri</h1>
          <p class="text-gray-500">Guru SDN 01 Pekanbaru</p>
        </div>
      </div>
      <div class="pl-2 flex justify-between items-center">
        <h1 class="text-blue-900 text-xl font-bold">Rp. 90.000</h1>
        <button id="button-more" class="shadow-md text-blue-900 font-bold">Lihat Kelas</button>
      </div>
    </div>
  </div>
</template>

<script>
import image from "../assets/gb-1.jpg";
export default {
  name: "index",
  data: function () {
    return {
      image: image,
    };
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#button-more {
  border: 1px solid #003592;
  border-radius: 8px;
  padding: 0.5rem 1rem;
}

#button-more:hover {
  background-color: #003592;
  border: 1px solid transparent;
  color: white;
  cursor: pointer;
}
</style>
