<template>
  <div>
    <!-- <img alt="Vue logo" src="./assets/gb-1.jpg" />
    <index msg="Welcome to Your Vue.js App" /> -->
    <div class="flex justify-around w-full h-full flex-wrap">
      <CourseCard v-for="i in 10" :key="i" />
    </div>
    <!-- <HelloWorld /> -->
  </div>
</template>

<script>
import { CourseCard } from "./components";
// import HelloWorld from "./components/HelloWorld.vue";
//import index from "./components/index.vue";
// import HelloWorld from "./components/HelloWorld.vue";

export default {
  name: "App",
  components: {
    //index,
    CourseCard,
    // HelloWorld,
  },
};
</script>

<style>
#app {
  font-family: Poppins, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
