/* ./src/index.css */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  font-size: 14px;
  font-family: 'Poppins';
}



